      body
        {
            margin: 0;
            padding: 0;
        }
         #main div
        {
            height: 200px;
            width: 200px;
            border: 2px solid #999;
            position: absolute;
        }
        .pointer
        {
            cursor: pointer;
        }
        .on
        {
            box-shadow: 0 0 10px #111;
            cursor: move;
        }
        .off
        {
            box-shadow: 0 0 0 0;
            cursor: pointer;
        }