/*==== layout css s ====*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { 
	margin:0; 
	padding:0; 
}

html, body {
	margin: 0; 
	padding: 0;
}

html {
	font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}

::selection {
	background-color: #35405f;
	color: #fff;
}

*, *:active, *:focus, *:hover {
	outline: none;
}

h1, h2, h3, h4, h5,h6 {
	margin-top: 0;
}

body {
	font-family: "Microsoft YaHei";
	font-size: 1.2rem;/*1.2 × 10px = 12x */
	background: #f5f5f5;
}

img{
	width: 100%;
	height: 100%;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
    color: #333;
}

.clear{
    clear: both;
}
/*==== layout css e ====*/

/* bindAccount s */
.bind_all{
	width: 100%;
}

.bind_header{
	 width: 100%;
}

.bind_header_logo{
	width: 170px;
	overflow: hidden;
	margin: 65px auto 31px;
}

.bind_input{
	width: 95%;
	margin: 0 auto;
}

.bind_input ul > li{
	width: 100%;
    height: 38px;
    margin-bottom: 10px;
	position: relative;
	border: solid 1px #d9d9d9;
	border-radius: 3px;
	overflow: hidden;
	background: #fff;
}

.bind_input ul > li:hover{
	border: solid 1px #55c2df;
}

.bind_input ul > li dl dd{
	display: inline-block;
}

.bind_input ul > li dl dd:first-child{
    width: 25px;
    overflow: hidden;
    position: absolute;
    top: 4px;
    left: 7px;
}

.bind_input ul > li dl dd:nth-child(2){
    width: 66px;
    overflow: hidden;
    position: absolute;
    top: 9px;
    left: 42px;
    color: #343434;
}

.bind_input ul > li dl dd:last-child{
    margin-left: 112px;
    margin-top: 3px;
    width: 66.6%;
    overflow: hidden;
    position: relative;
}

.bind_input ul > li dl dd:last-child input[type="text"]{
    width: 93.5%;
    height: 28px;
    padding: 0 6px;
    outline: none;
    border: 0;
    color: #999999;
}

.bind_input ul > li dl dd:last-child select{
	width: 100%;
    height: 32px;
    border: 0;
    color: #999999;
    background: 0;
}

.bind_input ul > li dl dd:last-child b{
    position: absolute;
    top: 13px;
    right: 6px;
    overflow: hidden;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #999999;
}

.bind_button{
	width: 95%;
	text-align: center;
	margin: 33px auto 0;
	position: relative;
	height: 40px;
	overflow: hidden;
}

.bind_button button{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: 0;
}

.bind_button a{
    width: 100%;
    height: 40px;
    display: block;
    line-height: 40px;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 2px;
    border-radius: 3px;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #6aded1 , #47b2e6);
}
/* bindAccount e */

/* livePage s */
.livage_all{
	width: 100%;
	overflow-y: hidden;
}

.livage_video{
	width: 100%;
	/* height: 211px; */
	background: #fff;
	overflow: hidden;
}

.livage_nav{
    width: 100%;
    height: 44px;
    line-height: 42.5px;
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
}

.livage_nav nav ul > li{
    display: inline-block;
    padding: 0 22px;
    font-size: 1.5rem;
}

.livage_nav_on{
	border-bottom: solid 2px #4fd4e3;
	color: #4fd4e3;
}

.livage_box{
	overflow: auto;
}

.livage_box div{
	display: none;
	width: 93%;
    margin: 10px auto 0;
}

.livage_box div.chat_box{
	display: block;
}

.chat_box{

}

.chat_box ul > li{
	margin-bottom: 10px;
}

.chat_box ul > li dl dt{
	font-size: 1.3rem;
	color: #989898;
}

.chat_box ul > li dl dd{
	width: 95%;
	margin: 5px auto 0;
	font-size: 1.5rem;
	color: #333333;
}

.livage_bottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 45px;
	background: #fff;
}

.livage_bottom ul{
	width: 93%;
	margin: 6px auto 0;
}

.livage_bottom ul > li{
	display: inline-block;
}

.livage_bottom ul > li:first-child{
    width: 75%;
    height: 36px;
    overflow: hidden;
    float: left;
}

.livage_bottom ul > li:last-child{
    float: right;
    width: 22%;
    height: 36px;
}

.livage_bottom ul > li input[type="text"]{
    width: 95%;
    height: 88%;
    padding: 0 5px;
    border: solid 1px #ccc;
    outline: none;
    background: #fff;
    border-radius: 6px;
}

.livage_bottom ul > li button{
    width: 100%;
    background: -webkit-linear-gradient(left, #6aded1 , #47b2e6);
    height: 32px;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-size: 1.5rem;
}
/* livePage e */

/* courseCenter s */
.curcent_all{
    width: 100%;
}

.curcent_hadtop{
    width: 100%;
    background: #fff;
    height: 38px;
    border-top: solid 1px transparent;
    border-bottom: solid 1px #e6e6e6;
}

.curcent_hadtop span{
    width: 92%;
    display: block;
    margin: 8px auto 0;
    color: #333;
}

.curcent_hadtop span:before{
    content: " ";
    width: 20px;
    height: 24px;
    background: url(../images/curcent_tpcor.png) top no-repeat;
    display: block;
    float: left;
    margin-top: -4px;
    margin-right: 10px;
    background-size: 100% 100%;
}

.swiper-container {
    width: 93%;
    height: 98px;
    margin: 5px auto;
}

.curcent_hadban{
    width: 100%;
    height: 110px;
    overflow: hidden;
    border-bottom: solid 1px #e6e6e6;
}

.curcent_hadtit{
    width: 100%;
    height: 72px;
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
    border-top: solid 1px transparent;
}

.curcent_hadtit ul{
    margin: 20px auto 0;
    text-align: center;
}

.curcent_hadtit ul > li{
    display: inline-block;
    width: 48.5%;
    text-align: center;
    height: 33px;
}

.curcent_hadtit ul > li:first-child{
    border-right: solid 1px #e6e6e6;
}

.curcent_hadtit ul > li dl{
    margin-top: -12px;
}

.curcent_hadtit ul > li dl a{
    display: block;
}

.curcent_hadtit ul > li dl dd:first-child {
    width: 26px;
    overflow: hidden;
    margin: 0 auto;
}

.curcent_hadtit ul > li dl dd:last-child {
    margin-top: 3px;
    color: #333;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.curcent_hadtit ul > li dl dd {
    text-align: center;
}

.swiper-slide {
    background: #fff;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 105px;
    margin-right: 30px;
    overflow: hidden;
}  

.curcent_cont{
    width: 100%;
    height: 100px;
    background: #fff;
    margin-top: 12px;
}

.curcent_cont_top{
    width: 100%;
    height: 38px;
    border-top: solid 1px transparent;
}

.curcent_cont_top span {
    display: block;
    width: 92%;
    margin: 8px auto 0;
    color: #333;
}

.curcent_cont_top span:before {
    content: " ";
    width: 20px;
    height: 22px;
    background: url(../images/cur_newcur.png) top no-repeat;
    display: block;
    float: left;
    margin-top: -1px;
    margin-right: 10px;
    background-size: 100% 100%;
}

.curcent_cont_list{
    width: 100%;
    overflow: auto;
}

.curcent_cont_list ul{
    width: 92%;
    margin: 10px auto;
}

.curcent_cont_list ul li {
    width: 100%;
    margin-bottom: 6px;
    min-height: 88px;
    border-radius: 6px;
    overflow: hidden;
}
/* courseCenter e */

/* broadcastCenter s */
.boacteer_all{
    width: 100%;
}

.boacteer_header{
    width: 100%;
}

.boacteer_header_ban{
    width: 100%;
    overflow: hidden;
    background: #fff;
}

.boacteer_header_tit{
    width: 100%;
    height: 65px;
    background: #fff;
    border-top: solid 1px transparent;
    border-bottom: solid 1px #e6e6e6;
}

.boacteer_cont{
    width: 100%;
    /* height: 300px; */
    margin-top: 12px;
    background: #fff;
}

.boacteer_header_tit ul{
    margin: 18px auto 0;
    text-align: center;
}

.boacteer_header_tit ul > li{
    display: inline-block;
    width: 48.5%;
    text-align: center;
    height: 33px;
}

.boacteer_header_tit ul > li:first-child{
    border-right: solid 1px #e6e6e6;
}

.boacteer_header_tit ul > li dl{
    margin-top: -12px;
}

.boacteer_header_tit ul > li dl a{
    display: block;
}

.boacteer_header_tit ul > li dl dd{
    text-align: center;
}

.boacteer_header_tit ul > li dl dd:first-child{
    width: 26px;
    overflow: hidden;
    margin: 0 auto;
}

.boacteer_header_tit ul > li dl dd:last-child{
    margin-top: 3px;
    color: #333;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.boacteer_cont_top{
    width: 100%;
    height: 38px;
    border-top: solid 1px transparent;
}

.boacteer_cont_top span{
    display: block;
    width: 92%;
    margin: 8px auto 0;
    color: #333;
}

.boacteer_cont_top span:before{
    content: " ";
    width: 25px;
    height: 20px;
    background: url(../images/boac_tv.png) top no-repeat;
    display: block;
    float: left;
    margin-top: -1px;
    margin-right: 10px;
    background-size: 100% 100%;
}

.boacteer_cont_list{
    width: 100%;
    overflow: auto;
}

.boacteer_cont_list ul{
    width: 92%;
    margin: 10px auto;
}

.boacteer_cont_list ul li{
    width: 100%;
    margin-bottom: 6px;
    min-height: 88px;
    border-radius: 6px;
    overflow: hidden;
}
/* broadcastCenter e */

/* screeningList s */
.scrlit_header{
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
}

.scrlit_search{
    width: 85%;
    margin: 3.5px auto;
    height: 30px;
    border: solid 1px #d9d9d9;
    border-radius: 24px;
    text-align: center;
    display: block;
    overflow: hidden;
    background: #F5F5F5;
}

.scrlit_search ul{
    position: relative;
    width: 100px;
    text-align: center;
    margin: 5px auto 0;
}

.scrlit_search ul > li{
    display: inline-block;
}

.scrlit_search ul > li:first-child{
    width: 15px;
    position: absolute;
    left: 8px;
    top: 2px;
}

.scrlit_search ul > li:last-child{
    width: 60px;
    top: 1.4px;
    font-size: 1.3rem;
    color: #999;
    position: absolute;
    left: 25px;
}

.scrlit_body{
    width: 100%;
    padding-top: 7px;
}

.scrlit_nav{
    width: 20%;
    float: left;
    background: #f90;
}

.scrlit_article{
    float: left;
    width: 80%;
    background: #f00;
}

.scrlit_nav_on{
    border-bottom: solid 1px #000!important;
}

.scrlit_article section{
    display: none;
    overflow: auto;
}

.scrlit_article section ul{
    width: 90%;
    margin: 10px auto 0;
}

.scrlit_article section li{
    display: inline-block;
    width: 25%;
    text-align: center;
    margin-bottom: 10px;
}

.scrlit_article section:first-child{
    display: block;
}

.scrlit_nav li{
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-bottom: solid 1px #ccc;
}
/* screeningList e */

/* courseList s */
.curlit_header{
    width: 100%;
    overflow: hidden;
    background: #fff;
    border-bottom: solid 1px #e6e6e6;
}

.curlit_search{
    width: 85%;
    margin: 3.5px auto;
    height: 30px;
    border: solid 1px #d9d9d9;
    border-radius: 24px;
    text-align: center;
    display: block;
    overflow: hidden;
    background: #F5F5F5;
}

.curlit_search ul{
    position: relative;
    width: 100px;
    text-align: center;
    margin: 5px auto 0;
}

.curlit_search ul > li{
    display: inline-block;
}

.curlit_search ul > li:first-child{
    width: 15px;
    position: absolute;
    left: 8px;
    top: 2px;
}

.curlit_search ul > li:last-child{
    width: 60px;
    top: 1.4px;
    font-size: 1.3rem;
    color: #999;
    position: absolute;
    left: 25px;
}

.curlit_search + .top_nav{
    width: 100%;
    height: 40px;
    background: #fff;
    border-top: solid 1px #e6e6e6;
    line-height: 40px;
}

.curlit_search + .top_nav ul > li{
    display: inline-block;
    border-right: solid 1px #e6e6e6;
    width: 32.4%;
    text-align: center;
    position: relative;
}

.curlit_search + .top_nav ul > li select{
    width: 100%;
    text-align: center;
    height: 37px;
    border: 0;
    background: 0;
    padding-left: 36%;
    color: #676767;
    font-size: 1.2rem;
    -webkit-appearance: none;
}

.curlit_search + .top_nav ul > li select + b{
    position: absolute;
    width: 10px;
    height: 12px;
    right: 30px;
    top: 17px;
    background: url(../images/arrow.png) top no-repeat;
    background-size: 100%;
}

.curlit_search + .top_nav ul > li a{
    display: block;
    font-size: 1.2rem;
    color: #676767;
}

.curlit_search + .top_nav ul > li:last-child{
    border-right: 0;
}

.curlit_body{
    width: 100%;
    padding-top: 5px;
}

.curlit_list{
    width: 100%;
    overflow: auto;
}

.curlit_list > ul > li{
    width: 100%;
    height: 87px;
    background: #fff;
    margin-bottom: 5px;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    overflow: hidden;
}

.curlit_list > ul > li a{
    display: block;
}

.curlit_list > ul > li:first-child{
    border-top: solid 1px transparent;
}

.curlit_list > ul > li:last-child{
    margin-bottom: 0;
}

.curlit_list > ul > li dl{
    width: 92%;
    margin: 8px auto 0;
}

.curlit_list > ul > li dl > dt{
    width: 120px;
    height: 70px;
    margin-right: 12px;
    float: left;
    overflow: hidden;
}

.curlit_list > ul > li dl > dd{
    float: left;
    width: 61%;
    overflow: hidden;
    height: 70px;
    position: relative;
}

.curlit_list > ul > li dl > dd ol > li{
    margin-bottom: 3px;
}

.curlit_list > ul > li dl > dd ol > li:first-child{
    
}

.curlit_list > ul > li dl > dd ol > li:first-child span{
    color: #333;
    font-size: 1.4rem;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.curlit_list > ul > li dl > dd ol > li:nth-child(2){
    
}

.curlit_list > ul > li dl > dd ol > li:nth-child(2) span{
    color: #999999;
    font-size: 1.2rem;
}

.curlit_list > ul > li dl > dd ol > li:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.curlit_list > ul > li dl > dd ol > li:last-child > ul > li{
    display: inline-block;
}

.curlit_list > ul > li dl > dd ol > li:last-child > ul > li:first-child span{
    font-size: 1.3rem;
    color: #4ed4df;
}

.curlit_list > ul > li dl > dd ol > li:last-child > ul > li:first-child span:before{
    content: " ";
    display: block;
    background: url(../images/e03.png) top no-repeat;
    width: 12px;
    height: 16px;
    float: left;
    margin-top: 1px;
    margin-right: 10px;
    background-size: 100%;
}

.curlit_list > ul > li dl > dd ol > li:last-child > ul > li:last-child{
    float: right;
}

.curlit_list > ul > li dl > dd ol > li:last-child > ul > li:last-child span{
    color: #999999;
    letter-spacing: 1px;
}
/* courseList e */

/* Listsearch s */
.list_seasrch{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    top: 0;
    display: none;
}
/* Listsearch e */
