/* ==========================================================================
   module: product_ul
============================================================================ */
.product_ul{
	margin: 0.2rem 0;
}

.product_ul ul{
	display: flex;
}

.product_ul ul li:first-child{
	flex: 15%;
}

.product_ul ul li:last-child{
	flex: 85%;
}

.product_ul ul li{
    height: 0.6rem;
    line-height: 0.6rem;
}

/* ==========================================================================
   module: product_dl
============================================================================ */
.product_dl dl{
	margin: 0.12rem 0;
}

.product_dl dt{
	margin-bottom: 0.24rem;
}

/* ==========================================================================
   module: time
============================================================================ */
.m-time{
	margin: 0.24rem 0;
}

/* ==========================================================================
   module: house_info
============================================================================ */
.m-house_info dd:not(:last-child){
	margin-bottom: 0.2rem;
}


/* ==========================================================================
   module: suppor_facit
============================================================================ */
.m-suppor_facit dl{
    display: flex;
    flex-wrap: wrap;
}

.m-suppor_facit dt{
    width: 100%;
}

.m-suppor_facit dd{
	flex-grow: 1;
    margin: 0.08rem 0.05rem;
    padding: 0.2rem 0.15rem;
    text-align: center;
    border: solid 1px #efefef;
    cursor: pointer;
    transition: 0.2s linear;
}

.m-suppor_facit dd.active{
    color: #f5560f;
    border: solid 1px #f5560f;
}